.btn {
  @include relative;
  display: inline-block;
  padding: 1rem 1.5rem;
  font-family: $primary-font;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: $white-color;
  background-color: $dark-color;
  border: 0;
  cursor: pointer;
  transition: all 0.5s;
}

.btn--black:hover {
  background-color: $primary-color;
}

.btn--arrow {
  padding: 0.5rem 2rem;
  border: 1px solid $dark-color;
}

.btn--arrow::after {
  content: "";
  @include absolute(-1px, 0, 0, 100%);
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 15px solid $dark-color;
}

.btn--default {
  background-color: $default-color;
  color: $dark-color;
}

.btn--register {
  @include absolute(0, 0);
  @include paddingX(3rem);
}
