.aboutus {
  padding-bottom: 7.5rem;
  &__inner {
    @include flexbox(space-between);

    @include maxWidth($grid__bp-lg) {
      flex-direction: column;

      & > * {
        width: 100% !important;
      }

      .aboutus__image {
        min-width: auto;
        padding-bottom: 3rem;
        padding-right: 0;
      }
    }
  }

  &__image {
    width: 50%;
    min-width: 45rem;
    padding-right: 3rem;
  }

  &__content {
    width: 50%;

    &-title {
      font-size: 2.4rem;
    }
  }
}