.address {
  padding-bottom: 7rem;

  &__content {
    h1 {
      font-size: 1.8rem;
      margin-bottom: 3.5rem;
    }

    a {
      font-size: 1.6rem;
      color: $blue-color;
      text-decoration: underline;
    }

    input.form-control, select.form-control {
      width: 100%;
      height: 3.6rem;
      padding: .5rem 1rem;
      font-size: 1.6rem;
      line-height: 1.5;
    }

    label.form-check-label {
      padding-top: 4px;
      padding-left: 4px;
    }
  }

  &__add {
    margin-bottom: 3.5rem;
  }

  &__info {
    padding: 3.5rem 0;
    vertical-align: middle;
    border-top: 1px solid $border-color;
  }
  &__product {
    &-list {
      @include flexbox(center,center,column);
      border-bottom: 1px solid $border-color;
      .list__item {
        @include flexbox(space-between,center);
         margin-bottom: 1.5rem;
        img {
          width: 17%;
        }
        &-name {
          flex:1;
          h1 {
            margin-bottom: 0;
          }
        }
      }
    }
    &-total {
      @include flexbox(space-between,center);
      padding: 1rem 0;
      p {
        font-size: 1.8rem;
        font-weight: 500;
      }
      span {
        font-size: 1.8rem;
        font-weight: 500;
      }
    }
  }
}