-
    const menu = [{link: "#", name: "Trang chủ"},{link: "/do", name: "Rượu vang đỏ"},{link: "/trang", name: "Rượu trắng"},{link: "#", name: "Champagne"},{link: "#", name: "thông tin"},{link: "#", name: "blog"},{link: "#", name: "liên hệ"}];
    const headerTops = ["Tài khoản của tôi", "Trạng thái đơn hàng","Danh sách ưu tiên","Giỏ hàng","Đăng nhập", "Đăng xuất"];
    const megaMenu = ["Rượu ngoại", "Rượu chivas", "Hàng độc - Rượu độc đáo", "Johnnie Walker","Rượi Whisky", "Rượu Reny Martin","Rượu Glenmorangie"]
    const footerLists1 = ["Thông tin", "về chúng tôi","giao hàng", "cảm nghĩ","chính sách riêng tư"];
    const footerLists2 = ["Mua hàng", "Vận chuyển và trả hàng","Mua hàng an toàn", "Vận quốc tế","Liên kết","Dịch vụ giảm giá"];