-
    const menu = [{link: "#", name: "Trang chủ"},{link: "/do", name: "Rượu vang đỏ"},{link: "/trang", name: "Rượu trắng"},{link: "#", name: "Champagne"},{link: "#", name: "thông tin"},{link: "#", name: "blog"},{link: "#", name: "liên hệ"}];
    const headerTops = ["Tài khoản của tôi", "Trạng thái đơn hàng","Danh sách ưu tiên","Giỏ hàng","Đăng nhập", "Đăng xuất"];
    const megaMenu = ["Rượu ngoại", "Rượu chivas", "Hàng độc - Rượu độc đáo", "Johnnie Walker","Rượi Whisky", "Rượu Reny Martin","Rượu Glenmorangie"]
    const albums = [2,3,4,5,6,7,8,9];
    const footerLists1 = ["Thông tin", "về chúng tôi","giao hàng", "cảm nghĩ","chính sách riêng tư"];
    const footerLists2 = ["Mua hàng", "Vận chuyển và trả hàng","Mua hàng an toàn", "Vận quốc tế","Liên kết","Dịch vụ giảm giá"];
    const detailBreadcrumbs = ["Trang chủ","Sản phẩm", "Rượu vang đỏ"];
    const textDetail = "Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to.Đừng nghĩ rằng chỉ vì đôi chân to mà bạn không thể mặc được món đồ nào khác ngoài quần dài. Sau đây là những item vừa trendy lại vừa có tác dụng rất hiệu quả trong việc điều chỉnh đôi chân to của bạn.Mùa hè là mùa của những bộ cánh thoải mái, thoáng mát và hẳn cô gái nào cũng muốn khoe chân tối đa. Tuy nhiên, điều này lại không hề dễ dàng đối với những cô nàng sở hữu đôi chân to. Vậy diện đồ thế nào để vừa tạo cảm giác nhẹ nhàng nhưng lại khéo léo giấu được nhược điểm ấy? Sau đây, chúng tôi xin đưa ra gợi ý về loạt item mà các cô nàng chân to nên gắn bó trong mùa hè này."
    const cartLists = [
        {
            name: 'Rượu vang Đà Lạt',
            image: '1.jpg',
            price: '330.000',
            totalPrice: '',
            desc: 'Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
            type: 'hot'
        },
        {
            name: 'Rượu vang Đà Lạt',
            image: '4.jpg',
            price: '370.000',
            oldPrice: '',
            desc: 'Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
            type: 'new'
        },
        {
            name: 'Rượu vang Đà Lạt',
            image: '6.jpg',
            price: '230.000',
            oldPrice: '',
            desc: 'Một hợp chất có trong rượu vang gọi là resverato có khả năng làm tăng tối đa tuổi thọ. Resverato còn có khả năng ngăn chặn mật độ oxy hóa của protein béo.',
            type: ''
        },
    ]
    const descAbout = `Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml.Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai dung tích 750ml...`
    const blogLists = [
        {
            title: 'VANG THĂNG LONG CLASSIC',
            image: 'home-image10.jpg',
            desc: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.',
            author: 'Giangle',
            date: '30/06/2015',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.',
            comments: [
                {
                    name: 'Giangle',
                    time: '4',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '5',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '6',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                }
            ]
        },
        {
            title: 'VANG THĂNG LONG CLASSIC',
            image: 'home-image10.jpg',
            desc: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi.',
            author: 'Giangle',
            date: '30/06/2015',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.\nVang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.',
            comments: [
                {
                    name: 'Giangle',
                    time: '4',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '5',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '6',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                }
            ]
        },
        {
            title: 'VANG THĂNG LONG CLASSIC',
            image: 'home-image10.jpg',
            desc: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.',
            author: 'Giangle',
            date: '30/06/2015',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.\nVang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.',
            comments: [
                {
                    name: 'Giangle',
                    time: '4',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '5',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '6',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                }
            ]
        },
        {
            title: 'VANG THĂNG LONG CLASSIC',
            image: 'home-image10.jpg',
            desc: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml.',
            author: 'Giangle',
            date: '30/06/2015',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.\nVang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.',
            comments: [
                {
                    name: 'Giangle',
                    time: '4',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '5',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '6',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                }
            ]
        },
        {
            title: 'VANG THĂNG LONG CLASSIC',
            image: 'home-image10.jpg',
            desc: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi.',
            author: 'Giangle',
            date: '30/06/2015',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.\nVang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.',
            comments: [
                {
                    name: 'Giangle',
                    time: '4',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '5',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '6',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                }
            ]
        },
        {
            title: 'VANG THĂNG LONG CLASSIC',
            image: 'home-image10.jpg',
            desc: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml.',
            author: 'Giangle',
            date: '30/06/2015',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.\nVang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.',
            comments: [
                {
                    name: 'Giangle',
                    time: '4',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '5',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '6',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                }
            ]
        },
        {
            title: 'VANG THĂNG LONG CLASSIC',
            image: 'home-image10.jpg',
            desc: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.',
            author: 'Giangle',
            date: '30/06/2015',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.\nVang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.',
            comments: [
                {
                    name: 'Giangle',
                    time: '4',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '5',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '6',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                }
            ]
        },
        {
            title: 'VANG THĂNG LONG CLASSIC',
            image: 'home-image10.jpg',
            desc: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi.',
            author: 'Giangle',
            date: '30/06/2015',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.\nVang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.',
            comments: [
                {
                    name: 'Giangle',
                    time: '4',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '5',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '6',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                }
            ]
        },
        {
            title: 'VANG THĂNG LONG CLASSIC',
            image: 'home-image10.jpg',
            desc: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.',
            author: 'Giangle',
            date: '30/06/2015',
            content: 'Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.\nVang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang thăng long tạo cảm giác hưng phấn, êm dịu, vui tươi, sản phẩm được đóng bởi chai có dung tích là 750ml. Vang nổ Thăng long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.',
            comments: [
                {
                    name: 'Giangle',
                    time: '4',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '5',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                },
                {
                    name: 'Giangle',
                    time: '6',
                    comment: 'Có lẽ bởi tính chất "an gian" vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 trang phục này được áp dụng nhiều nhất trong free style tuần qua, chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém gợi cảm, kết hợp cùng với đôi giày quai chữ T tôn dáng.'
                }
            ]
        }
    ]

    const blogTags = ['Đồng hồ', 'Túi', 'Phụ kiện', 'Giày', 'Sandal', 'Áo sơ mi', 'Nước hoa', 'Trẻ em', 'Thời trang nữ']

    const orderLists = [
        {
            num: '01',
            id: 'LEANHGIANG89',
            date: '17/06/2015',
            datetime: '01:36 14/03/2015',
            warehouse: 'HÀ ĐÔNG',
            amount: 7,
            total: '350.000đ',
            status: 'Đã thanh toán',
            actions: 'Chi tiết'
        },
        {
            num: '02',
            id: 'LEANHGIANG89',
            date: '17/06/2015',
            datetime: '01:36 14/03/2015',
            warehouse: 'HÀ ĐÔNG',
            amount: 7,
            total: '350.000đ',
            status: 'Đã thanh toán',
            actions: 'Chi tiết'
        },
        {
            num: '03',
            id: 'LEANHGIANG89',
            date: '17/06/2015',
            datetime: '01:36 14/03/2015',
            warehouse: 'HÀ ĐÔNG',
            amount: 7,
            total: '350.000đ',
            status: 'Đã thanh toán',
            actions: 'Chi tiết'
        },
        {
            num: '04',
            id: 'LEANHGIANG89',
            date: '17/06/2015',
            datetime: '01:36 14/03/2015',
            warehouse: 'HÀ ĐÔNG',
            amount: 7,
            total: '350.000đ',
            status: 'Đã thanh toán',
            actions: 'Chi tiết'
        },
        {
            num: '05',
            id: 'LEANHGIANG89',
            date: '17/06/2015',
            datetime: '01:36 14/03/2015',
            warehouse: 'HÀ ĐÔNG',
            amount: 7,
            total: '350.000đ',
            status: 'Đã thanh toán',
            actions: 'Chi tiết'
        },
        {
            num: '06',
            id: 'LEANHGIANG89',
            date: '17/06/2015',
            datetime: '01:36 14/03/2015',
            warehouse: 'HÀ ĐÔNG',
            amount: 7,
            total: '350.000đ',
            status: 'Đã thanh toán',
            actions: 'Chi tiết'
        }
    ]

    const accountLists = [
        {
            firstName: 'Giang',
            lastName: 'Lê Anh',
            company: 'Cổ phần công nghệ DKT',
            address: 'Tòa nhà Hà Nội Group, 442 Đội Cấn, Ba Đình, Hà Nội',
            city: 'Hà Nội',
            country: 'Việt Nam',
            postal: '2300089',
            phone: '0974554928',
            isEdit: true
        },
        {
            firstName: 'Giang',
            lastName: 'Lê Anh',
            company: 'Cổ phần công nghệ DKT',
            address: 'Tòa nhà Hà Nội Group, 442 Đội Cấn, Ba Đình, Hà Nội',
            city: 'Hà Nội',
            country: 'Việt Nam',
            postal: '2300089',
            phone: '0974554928',
            isEdit: false
        },
        {
            firstName: 'Giang',
            lastName: 'Lê Anh',
            company: 'Cổ phần công nghệ DKT',
            address: 'Tòa nhà Hà Nội Group, 442 Đội Cấn, Ba Đình, Hà Nội',
            city: 'Hà Nội',
            country: 'Việt Nam',
            postal: '2300089',
            phone: '0974554928',
            isEdit: false
        }
    ]
