extends ../layout/layout.pug
block variables
  - const title = "Giỏ hàng";
  - const current = "/cart.html";
block script
  script(type= "module" src="js/cart.js")
block content
  section.cart
    .container
      +breadcrumbs(detailBreadcrumbs)
      +heading("Giỏ hàng", true)(class="heading--cart")
      .cart__table
        .table-responsive
          table.table.table-bordered
            thead
              tr
                th Ảnh
                th Tên sản phẩm
                th Giá
                th Số lượng
                th Tổng số
                th Xoá
            tbody.cart__table-list
      .cart__cta
        a(href="./products.html" class="btn btn--black") Tiếp tục mua hàng
        a(href="./address.html" class="btn btn--black") Thanh toán