@font-face {
  font-family: "UTM Caviar";
  src: url("../assets/fonts/UTM Caviar.ttf");
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: $font-size-html;
}
body {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 1.4rem;
  color: $gray-color;
  background-color: $white-color;
  overflow-x: hidden;
}
img {
  display: block;
  max-width: 100%;
}
a {
  display: block;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}
p {
  line-height: 1.5;
}
span {
  color: $primary-color;
}
input,
select,
textarea {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 1.4rem;
  color: $gray-color;
  outline: none;
  border: 1px solid $border-color;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $dark-color;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.wrapper {
  max-width: $wrapper;
  @include marginAuto();
}
.container {
  max-width: $container;
  @include paddingX(1.5rem);
}
