$white-color: #fff;
$dark-color: #000;
$gray-dark-color: #737373;
$gray-color: #818181;
$default-color: #e6e6e6;
$gray-light-color: #d6d6d6;
$primary-color: #e6ae48;
$border-color: #e8e8e8;
$red-color: #ed301c;
$green-color: #62af26;
$blue-color: #24c5d9;
$tag-color: #f26522;
$secondary-font: "UTM Caviar";
$primary-font: "Times New Roman", sans-serif;
$third-font: "Roboto", sans-serif;
$font-size-html: 62.5%;
$wrapper: 192rem;
$container: 117rem;
$grid__bp-sm: 576;
$grid__bp-md: 768;
$grid__bp-lg: 992;
$grid__bp-xl: 1200;
$grid__cols: 12;
