@import "./reset";
@import "./variables";
@import "./mixins";
@import "./setting";
@import "./responsive";
@import "./utilities";
@import "./layout/layout.scss";
@import "./components/index.scss";
@import "./pages/home";
@import "./pages/detail";
