@import "./reset";
@import "./variables";
@import "./mixins";
@import "./setting";
@import "./responsive";
@import "./utilities";
@import "./layout/layout.scss";
@import "./components/index.scss";
@import "./pages/home";
@import "./pages/detail";
@import "./pages/cart";
@import "./pages/about";
@import "./pages/blog";
@import "./pages/blogdetail";
@import "./pages/login";
@import "./pages/register";
